body {
    margin: 0;
}

.head-box {
    position: relative;
    background-color: #f5f5f5;
    height: 26px;
}

.head-box-child {
    left: 20%;
    position: absolute;
    display: inline-block;
}

a:link, a:visited {
    color: gray;
}

a:hover, a:active {
    color: #cb002a;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

div {
    display: block;
}

.head_wrap {
    display: inline;
    margin: auto auto auto 450px;
    float: left;
    width: 150px;
    height: 72px;
}

.dropdown {
    left: 20%;
    position: absolute;
    display: inline-block;
}

.cus_car {
    height: 32px;
    padding: 0;
}

.head-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .head-dropdown-content {
    display: block;
}

.head-menu{
    font-family: 新宋体;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px #e5e5e5 solid;
}

.head-menu .head-content-wrap {
    display: block;
    height: 72px;
}

.head-content-wrap {
    margin: 0 auto;
}

.dropdown-user {
    font-style: inherit;
}

.hz {
    margin: 28px auto auto 30px;
    float: left;
}

ul {
    list-style: none;
    float: left;
    height: 50px;
}

.head-menu .menu li {
    height: 60px;
    width: 50px;
    padding: 0 14px;
    padding-top: 0px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
    margin-right: 10px;
    font-size: 18px;
    padding-top: 18px;
    float: left;
}

.head-menu .menu .head-index a{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #eb002a;
    color: #eb002a;
}

.list {
    height: 60px;
    width: 990px;
    margin: auto auto 10px 300px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 229, 229);
}

.list .cinema-js a{
    display: block;
    margin-right: 40px;
    float: left;
    color: #999;
    margin-top: 32px;
    line-height: 26px;
}

.cinema-js {
    margin-bottom: 0;
    font-size: 18px;
    font-family: "新宋体";
}

.cinema-js a.current {
    color: #3e3e3e;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #eb002a;
}

.tab-content {
    display: inline-block;
    transform: translateZ(20px);
    margin-bottom: 20px;
}

.tab-movie-list {
    width: 1050px;
}

.showing-film {
    position: relative;
    display: inline-block;
    background: #000;
}

.tab-content .tab-movie-list .movie-wrap {
    display: block;
    width: 161px;
    height: 350px;
    overflow: hidden;
    position: relative;
    padding-right: 12px;
    float: left;
    line-height: 0;
    margin-right: 35px;
}

a.movie-card {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    _display: block;
    background: #fff;
}

.movie-wrap a.buy-film {
    display: block;
    height: 40px;
    width: 115px;
    line-height: 40px;
    padding-left: 45px;
    background: #eb002a;
    color: #fff;
}

.process {
    position: relative;
    top: 300px;
    width: 100%;
    height: 88px;
    background: url("../image/tiao.jpg") center center no-repeat #f4f4f4;
}

.movie-wrap a.film-start {
    font-size: 14px;
    display: block;
    height: 40px;
    width: 158px;
    line-height: 40px;
    text-align: center;
    background: #FFF;
    color: #999;
    border-left: 1px #e5e5e5 solid;
    border-right: 1px #e5e5e5 solid;
    border-bottom: 1px #e5e5e5 solid;
}